html, body, .container, .wrapper{
    background:hsl(212, 45%, 89%);
    width: 100%;
    height: 100%;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}




.box{
    background: white;
    padding: 1em;
    text-align: center;
    width:33%;
    border-radius: 16px
    
}

@media screen and (min-width: 1440px) {
   .box{
    width:20%;
   } 

}

@media screen and (max-width: 475px) {
    .box{
        width:75%;
       } 
}

img{
    width: 100%;
    border-radius: 12px

}

p, h1, h2, h3, h4{
    font-family: Outfit;

}

p {
    font-size: 15px;
}

.content{
    padding: 0 20px;
}

.main-content{
   color: hsl(218, 44%, 22%);
   font-weight: 700;

}

.sub-content{
    color:  hsl(220, 15%, 55%);
    font-weight: 400;
}